.container-fluid {
    padding: 0;
}

a {
    color: inherit;
}

h1 {
  color: #3CB371;
}

.container-fluid .row {
    margin: 0px;
}


.navbar {
    border-bottom: 3px solid #3CB371;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}


.navbar-brand {
    font-weight: bold;
    padding-right: 0px;
    padding-left: 15px;
}

a.navbar-brand {
    color: #3CB371;
}


.navbar-toggler {
    color: #3CB371;
}

.helptext{
    color: transparent;
}


.add-div {
    background-color: #3CB371;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
}

.far.fa-address-card {
    color: #FFF;
    margin-right: 10px;
    margin-left: 5px;
}

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    color: #3CB371;
}

.search-div {
    padding? 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: nome;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.fas.fa-trash-alt, .fas.fa-user-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash-alt {
    color: #A52A2A;
}

.fas.fa-user-edit{
    color: #FFD700;
}

footer{
    background-color: #333;
    height: 50px;
    border-top: 3px solid #3CB371;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 25%;
    position: relative;
}

footer a:link {
    color: inherit;
}
footer a:link {
   color: inherit;
}

footer a:visited {
    color: inherit;
}

footer a:hover {
    color: inherit;
}

footer a:active {
    color: inherit;
}

.auth-card {
    margin-bottom: 30px;
}
