{% extends 'base.html' %}

{% block title%} Login {% endblock %}


{% block content %}
<div class="container" align="center">
    <form method="post">
        <div class="card col-md-6" align="center" >
            <div class="card-header">
                Preencha os campos abaixo!
            </div>
            <div class="card-body" align="center">
                <h5 class="card-title" align="center">Registrar</h5>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{form.as_p}}
                <button type="submit" class="btn btn-success btn block">Registrar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

