{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-light">
        <i class="fas fa-clinic-medical"></i>
        <a class="navbar-brand" href="#">Clínica SNz</a>
        <i class="fas fa-heartbeat"></i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-align-justify"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" align="center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="{% url 'Home' %}">| Home |</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="{% url 'CadastroVirus' %}">| Cadastrar Vírus |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Listar' %}">| Lista de Pacientes |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Virus' %}">| Lista de Vírus |</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link"  href="{% url 'Diagnostico' %}">| Diagnostico |</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="accounts/login">| Login |</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link"  href="../accounts/logout">| Logout |</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p><i class="fab fa-instagram"><a href="https://www.instagram.com/mateus.sena_/"> Mateus Sena</a></i></p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/07a572f4ae.js" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
