{% extends 'base.html' %}

{% block title%} Cadastro de Paciente {% endblock %}


{% block content %}
<h1 align="center">Cadastrar Paciente</h1>
<div  class="container" align="center">
<form method="post">
    <div class="card border-success mb-3 col-8 " style="max-width: 30rem;" align="center">
        <div class="card-header bg-transparent border-success" align="center">Insira os dados abaixo</div>
        <div class="card-body text-success" align="center">
            <h6 class="card-title">
                {% csrf_token %}
                {{form.as_p}}
            </h6>
        </div>
        <div class="card-footer bg-transparent border-success">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
</div>
{% endblock %}