{% extends 'base.html' %}

{% block title%} Adicionar Virus {% endblock %}


{% block content %}
<h1 align="center">Cadastrar Vírus</h1>
<div align="center">
<form method="post">
    <div class="card border-success mb-3 col-5" style="max-width: 18rem;" align="center">
        <div class="card-header bg-transparent border-success" align="center">Insira os dados abaixo</div>
        <div class="card-body text-success">
            <h5 class="card-title">
                {% csrf_token %}
                {{form.as_p}}
            </h5>
        </div>
        <div class="card-footer bg-transparent border-success">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
</div>
{% endblock %}