{% extends 'base.html' %}

{% block title %} Deletar Paciente {% endblock %}


{% block content %}
<div class="card text-center" align="center">
    <form method="post" >
        <div class="card-header">
        </div>
            <div class="alert alert-danger" role="alert" align="center">Tem certeza que deseja deletar "{{object.nome}}" dos membros? </div>
        <div class="card-body">
            {% csrf_token %}
            <button class="btn btn-success">Sim</button>
            <a href="{% url 'Listar' %}" class="btn btn-danger">Não</a>
        </div>
    </form>
</div>
{% endblock %}