{% extends 'base.html' %}

{% block title%} Diagnostico {% endblock %}


{% block content %}
<div class="container">
    {% for x in object_list %}
    <div class="card text-center mb-3" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">{{x.paciente}}</h5>
            <p class="card-text">Doença: {{x.virus}}</p>
        </div>
    </div>
    {% endfor %}
    <div align="center" class="mb-3">
        <span><a href="{% url 'CadastroDiagnostico' %}" class="btn btn-success">Cadastrar Diagnostico</a></span>
    </div>
</div>
{% endblock %}