{% extends 'base.html' %}

{% block title%} Home {% endblock %}


{% block content %}
<div class="container">
    <div class="card mb-3">
        <img src="https://www.rioverde.go.gov.br/wp-uploads/2019/09/TICsaude-big.jpg" class="card-img-top">
        <div class="card-body">
            <div class="card-deck">
                <div class="card mb-3">
                    <img src="https://d3043uog1ad1l6.cloudfront.net/uploads/2020/03/photo-1584118624012-df056829fbd0.jpeg"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Covid-19</h5>
                        <p class="card-text">O coronavírus (COVID-19) é uma doença infecciosa causada por um novo vírus
                            que nunca havia sido identificado em humanos.
                            O vírus causa uma doença respiratória semelhante à gripe e tem sintomas como tosse, febre e,
                            em casos mais graves, pneumonia. É possível se proteger ao lavar as mãos com frequência e
                            evitar tocar no rosto.
                            <b>TRANSMISSÃO: </b>
                            A principal forma de contágio do novo coronavírus é o contato com uma pessoa infectada, que
                            transmite o vírus por meio de tosse, espirros, gotículas de saliva ou coriza.</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <img src="https://1.bp.blogspot.com/-dmvRtSI0X4c/WHzxZHbAw5I/AAAAAAAABrU/1Jt8a9mWgVUtNrUK27ewawxNXGZ1furjgCEw/s1600/VIRUS.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">H5N1</h5>
                        <p class="card-text">Gripe aviária
                            Outros nomes: Influenza aviária A (H5N1)
                            Cepas do vírus da gripe que atacam principalmente aves, mas que também podem infectar os
                            seres humanos.
                            Esse tipo de gripe costuma ser contraído pelo contato com aves doentes. Também pode ser
                            transmitido de pessoa para pessoa.
                            Os sintomas começam dentro de dois a oito dias e podem ser semelhantes aos da gripe comum.
                            Tosse, febre, dor de garganta, dores musculares, dor de cabeça e falta de ar podem ocorrer.
                            A doença pode ter um alto índice de mortalidade em humanos. Alguns medicamentos antivirais,
                            se tomados em até dois dias depois do aparecimento dos sintomas, podem ajudar.</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <img src="https://png2.cleanpng.com/sh/03e3ba1a96775fd9ea505aa71df3e198/L0KzQYm3WcI4N5l0R91yc4Pzfri0lPhmNZ1AjNR4dD32f73okvl0NZNqiAY2aX6wc73okCMufJZogND4bHBqiX74TcVjaZUATaU9M3XkQom8TskzPmU8T6kBMUW2SIK3UsU5OGM6Tqg3cH7q/kisspng-the-lytbot-solaris-best-in-class-technology-q-5bad95343ea285.9264777615381025802566.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">H1N1</h5>
                        <p class="card-text">Influenza A subtipo H1N1, também conhecido como A (H1N1), é um subtipo de
                            Influenzavirus A e a causa mais comum da influenza (gripe) em humanos. A letra H refere-se à
                            proteína hemaglutinina e a letra N à proteína neuraminidase. Este subtipo deu origem, por
                            mutação, a várias estirpes, incluindo a da gripe espanhola (atualmente extinta), estirpes
                            moderadas de gripe humana, estirpes endémicas em aves.
                            Variantes de H1N1 de baixa patogenicidade existem em estado selvagem, causando cerca de
                            metade de todas as infecções por gripe em 2006.</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <img src="https://www.asthma.org.uk/2f126497/globalassets/research/cgi-flu-virus-istock-banner.jpg?preset=hero_desktop"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Influenza</h5>
                    <p class="card-text">Também conhecida como gripe, a influenza é uma infecção do sistema respiratório
                        cuja
                        principal complicação são as pneumonias, que são responsáveis por um grande
                        número de internações hospitalares no País. A doença inicia-se com febre alta, em
                        geral acima de 38ºC, seguida de dor muscular, dor de garganta, dor de cabeça e tosse
                        seca. A febre é o sintoma mais importante e dura em torno de três dias. Os sintomas
                        respiratórios como a tosse e outros, tornam-se mais evidentes com a progressão da
                        doença e mantêm-se em geral por três a quatro dias após o desaparecimento da febre.
                        É uma doença muito comum em todo o mundo, sendo possível uma pessoa adquirir
                        influenza várias vezes ao longo de sua vida. É também freqüentemente confundida
                        com outras viroses respiratórias, por isso o seu diagnóstico de certeza só é feito
                        mediante exame laboratorial específico. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
