{% extends 'base.html' %}

{% block title%} Lista de Paciente {% endblock %}


{% block content %}
<div class="container">
    <div class="p-3 mb-3 bg-dark text-white">
        <table class="table table-striped table-dark">
            <thead>
            <tr align="center">
                <th scope="col">Nome</th>
                <th scope="col">Tipo Sanguíneo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Gênero</th>
                <th scope="col">Gravidade</th>
            </tr>
            </thead>
            <tbody>
            {% for x in object_list %}
            <tr>
                <td align="center">{{x.nome}}</td>
                <td align="center">{{x.tipo_sang}}</td>
                <td align="center">{{x.data_nasc}}</td>
                <td align="center">{{x.genero}}</td>
                <td align="center">{{x.gravidade}}</td>
                <td><a href="{% url 'AtualizarPaciente' x.id %}"><span><i class="fas fa-user-edit"></i></span></td>
                <td><a href="{% url 'DeletarPaciente' x.id %}"><span><i class="fas fa-trash-alt"></i></span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div align="center" class="mb-3">
            <span><a href="{% url 'CadastroPaciente' %}" class="btn btn-success">Adicionar Paciente</a></span>
        </div>
    </div>
</div>
{% endblock %}