{% extends 'base.html' %}

{% block title%} Lista de Vírus {% endblock %}


{% block content %}
<h1 align="center">Lista de Vírus</h1>
<div class="container">
    <div class="row row-cols-5 row-cols-md-3" align="center">
        {% for x in object_list %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{x.nomeV}}</h5>
                    <p class="card-text">{{x.previnir}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div align="center" class="mb-3">
        <span><a href="{% url 'Listar' %}" class="btn btn-success">Pacientes</a></span>
    </div>
</div>
{% endblock %}